.home {
    background-color: #f1f1f1;
}

/* Write new acrticle */

.openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }

/* ADS */

.ads-box {
    z-index: 0;
    background: #E9BD20;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 1rem;
    position: relative;
    width: 55px;
    height: 35px;
    cursor: default;
}

.ads {
    font-family: "SF Pro Rounded-Medium";
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#ads-card {
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
    position: inherit;
}

#main-slider-container {
    width: 100%;
    height: 310px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

#ads-card ::-webkit-scrollbar {
    display: none;
}

.slider-icon.left, .slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #646464;
    font-size: 40px;
}

.slider-icon.left {
    left: 0;
}

.slider-icon.right {
    right: 0;
}

.slider-icon.left:hover, .slider-icon.right:hover {
    opacity: 1;
}

.slider-card {
    width: 320px;
    height: 95%;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px 2px rgb(170, 170, 170);
    cursor: pointer;
}

.slider-card-image {
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(230, 230, 230);
    background-size: cover;
}

.slider-card-title, .slider-card-content {
    margin: 10px 0px 5px 15px;
}

.slider-card-title {
    margin-top: 15px;
    font-family: "SF Pro Rounded-Semibold";
}

.slider-card-content {
    font-family: "SF Pro Rounded-Medium";
    font-size: 13px;
    margin-top: 0;
    color: #777777;
}

.fav-category {
    font-family: "SF Pro Rounded-Medium";
    font-size: 1rem;
    margin: 0 0 2rem 1rem;
    cursor: default;
}

.fav-category span {
    cursor: default;
}