.modalApprove {
    z-index: 999;
    width: 100vw;
    height: calc(100vh+100vh);
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    background-color: transparent;
}
  
.approveContainer {
    width: 850px;
    height: 640px;
    margin-left: 60px;
    margin-bottom: 120px;
    border-radius: 20px;
    background-color: white;
    box-shadow: #666666 0px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
  
.approveContainer .title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 30px;
}
  
.approveClose {
    display: flex;
    justify-content: flex-end;
}
  
.approveClose button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
  
.approveContainer img {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 300px;
    height: 430px;

    border: 1px solid black;
    border-radius: 10px;
}

.approveContainer .body {
    display: flex;
}

.body .info {
    font-family: "SF Pro Rounded-Semibold";
    font-size: 22px;
    margin-left: 2rem;
}

.body .info span {
    color: #1572A1;
    margin-left: 20px;
    line-height: 0.5;
    margin-bottom: 0;
}

.body .info .description{
    color: #1572A1;
}
  
.approveContainer .footer {
    flex: 20%;
    display: flex;
    position: fixed;
    margin-top: 525px;
    margin-left: 225px;
    float: bottom;
}
  
.approveContainer .footer button {
    width: 150px;
    height: 45px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.approveContainer .footer button:hover {
    background-color: #666666;
}

.footer .approve {
    background-color: #27B636;
}

.footer .reject {
    background-color: #D82020;
    margin-left: 20px;
}