.editprofileselection {
    background-color: white;
    width: 100%;
    height: 100%;
}

.editprofilett {
    font-family: SF Pro Rounded-Semibold;
    padding-left: 29%;
    font-size: 50px;
    color: #1572A1;
    background-color: white;
    padding-top: 5%;
}

.editprofilesubtt {
    font-family: SF Pro Rounded-Semibold;
    font-size: 22px;
    font-weight: lighter;
    word-spacing: 2px;
    background-color: white;
    padding-left: 6%;
    padding-bottom: 6%;
}

.editprofilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 320px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.editprofilecard h2 {
    font-family: SF Pro Rounded-Semibold;
    font-size: 24px;
    font-weight: lighter;
    padding: 22px;
    background-color: #1572A1;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.editprofilecard .sectiondescription {
    font-family: SF Pro Rounded-Medium;
    font-size: 20px;
    font-weight: lighter;
    padding: 15px;
    background-color: white;
    height: 150px;
    color: black;
}

.editprofilecard .profilesectionbtn {
    border: 1px solid #1572A1;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: #1572A1;
    font-family: SF Pro Rounded-Medium;
    font-size: 18px;
}

.editprofilecard .profilesectionbtn:hover {
    background-color: #1572A1;
    cursor: pointer;
    color: white;
}

