.goback-btn {
    margin-top: 60px;
    margin-left: 80px;
}

.goback-btn a {
    font-family: SF Pro Rounded-Medium;
    color: #676767;
    font-size: 22px;
    text-decoration: none;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
}

.goback-btn a:hover {
    color: black;
}