

.profile-Pic .container {
    height: 650px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #1572a1;
    margin-left: auto;
    margin-top: 50px;
}

.profile-Pic .headerprofilepic {
    background-color: white;
    margin: auto;
}

.profile-Pic h5 {
    color: #1572a1;
    font-size: 30px;
}

.profile-Pic{
    font-family: SF Pro Rounded-Semibold;
}

.profile-Pic .editprofileimg {
    background-color: #f0f0f0;
    margin: auto;
}

.profile-Pic .container input[type="file"] {
    color: #676767;
    margin-left: 77px;
}


.eppbtn {
    border: none;
    background-color: #1572A1;
    color: white;
    width: 320px;
    height: 50px;
    display: block;
    border-radius: 10px;
    padding: 10px 0;
    padding-top: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 78px;
    margin-top: 10x;
    margin-bottom: -30px;
}

.eppbtn:hover {
    background-color: black;
}