.formreg .input-container {
    padding-right: 127px;
}


.copy h2 {
    padding: 10px 0px;
    font-weight: 100;
    font-size: 3.75rem;
    background-color: transparent;
}

.split-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left {
    background-size: cover;
    background-color: #1572A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h2 {
    color: white;
    padding-left: 20px;
    padding-top: 120px;
    text-align: left;
    font-family: SF Pro Rounded-Medium;
}

.left img {
    width: 420px;
    padding-left: 25px;
    padding-top: -20px;
}

.right {
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.backbtn {
    padding-bottom: 800px;
    padding-left: 60px;
    width: 300px;
    position: relative;
    background-color: transparent;
}

.backbtn a {
    font-family: SF Pro Rounded-Medium;
    color: #676767;
    font-size: 22px;
    text-decoration: none;
    padding-top: 50px;
}

.backbtn a:hover {
    color: black;
}

.right .formreg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    margin-left: -40px;
    width: 880px;
    background-color: white;
    margin-top: -80px;
}

.right h2 {
    color: #1572A1;
    width: 700px;
    padding-bottom: 20px;
    text-align: left;
    font-family: SF Pro Rounded-Semibold;
}

.formreg input[type='text'],
.formreg input[type='password'],
.formreg input[type='email'],
.formreg input[type='tel'],
.formreg input[type='date'] {
    background-color: #f1f1f1;
    border: 1.5px solid;
    width: 260px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
    color: black;
    border-color: #f1f1f1;
    font-family: SF Pro Rounded-Medium;
    font-size: 15px;
}

.formreg textarea {
    background-color: #f1f1f1;
    width: 260px;
    border: 1.5px solid;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
    color: black;
    border-color: #f1f1f1;
    font-family: SF Pro Rounded-Medium;
    font-size: 15px;
    min-height: 200px;
    max-height: 330px;
}

.formreg select {
    margin-right: 120px;
    background-color: #f1f1f1;
    border: 1.5px solid;
    width: 140px;
    height: 50px;
    padding: 10px 5px;
    border-radius: 10px;
    text-align: left;
    color: black;
    border-color: #f1f1f1;
    font-family: SF Pro Rounded-Medium;
    font-size: 15px;
    border-right: 16px solid transparent;
}

.formreg .dateofbirth {
    width: 600px;
}

.formreg select:required:invalid {
    color: gray;
}

.formreg input[type='date']:required:invalid {
    color: gray;
}

.signupbtn {
    border: none;
    background-color: #1572A1;
    color: white;
    width: 260px;
    height: 45px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 60px;
    font-family: SF Pro Rounded-Semibold;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.signupbtn:hover {
    background-color: black;
}

.formreg label {
    display: block;
    padding-top: 0.6rem;
    padding-bottom: 0.75rem;
    font-family: SF Pro Rounded-Medium;
    font-size: 1rem;
    color: #454444;
}

@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
        background-color: white;
    }
    .left {
        display: flex;
        width: 30%;
        height: auto;
    }
    .right {
        display: flex;
        width: auto;
        height: auto;
    }
}

.editpage {
    margin-top: 80px;
}