.modalBackground {
    font-family: "SF Pro Rounded-Medium";
    z-index: 999;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    position: fixed;
    display: flex;
  }
  
  .modalContainer {
    width: 870px;
    height: 600px;
    margin-left: 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: #666666 0px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .modalContainer .title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 0;
    
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .modalContainer .footer label {
    border: 0;
    display: block;   
    margin-left: auto;   
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    border: none;
    background-color: #1572A1;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
    float: right;
  }
  

/* inside */

.img-frame {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  width: 320px;
  height: 320px;
  
  justify-content: center;
  align-items: center;

  border: 2px dashed #575757;
  border-radius: 20px;

  font-size: 16px;

  cursor: pointer;
}

.img-frame .drop-picture {
  opacity: 0.7;
}

.img-frame p {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
}

.img-frame .input-file {
  display: none;
}

.detail {
  margin-left: 20px;
  font-size: 20px;
  width: 70%;
}

.detail p {
  margin: 0;
  font-size: 18px;
}

.detail ::placeholder {
  color: #666666;
  font-size: 14px;
}
.detail select {
  font-size: 16px;

  background-color: transparent;
  border-radius: 5px;

  margin-left: 15px;
}

.detail .title {
  width: 460px;
  height: 30px;
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 16px;

  background-color: transparent;
  border-radius: 5px;

  border: 1px solid #575757;
}

.detail input {
  padding-left: 10px;
}

.detail textarea {
  width: 460px;
  height: 210px;

  padding: 10px 10px;
  font-size: 16px;

  margin-top: 0;
  margin-bottom: 0;

  background-color: transparent;
  border-radius: 5px;

  border: 1px solid #575757;
}

.detail textarea ::placeholder {
  border-left-width: 10px;
  border-top-width: 5px;
}

.detail input ::placeholder {
  color: red;
}